<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="icon" href="favicon.png" sizes="32x32" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
<script src="https://kit.fontawesome.com/a6889b53a3.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/styles.css">
  <!-- <link rel="icon" type="image/x-icon" href="/public/favicon.ico"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <!-- CSS only -->
  <title> FarmoCast</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <i class="fa-solid fa-temperature-sun"></i>
      <a class="navbar-brand" href="#"> <i class="fa-solid fa-sun"></i> FarmoCast </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/subscribe">Subscribe for Alerts</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="leaf">
    <img class="leafImage" src="leaf.png" alt="">
  </div>
  <h2 class="titlequote"> <strong>Predict your weather</strong> </h2>

  <div class="">
    <section id="predictform">
      <div class="container">

        <form class="forms mb-3" action="/" method="post">

          <label  for="city">
            <h3>Choose a City</h3>
          </label>
          <!-- <input class="items" type="text" name="cityname" id="cityname" value="pets"autocomplete="off"><br> -->

          <select class="items form-control" name="cityname" id="cityname">
            <option value="">--Please choose an city--</option>
            <option value="Ariyalur">Ariyalur</option>
            <option value="Chengalpattu">Chengalpattu</option>
            <option value="Chennai">Chennai</option>
            <option value="Coimbatore">Coimbatore</option>
            <option value="Cuddalore">Cuddalore</option>
            <option value="Dharmapuri">Dharmapuri</option>
            <option value="Dindigul">Dindigul</option>
            <option value="Erode">Erode</option>
            <option value="Kallakurichi">Kallakurichi</option>
            <option value="Kanchipuram">Kanchipuram</option>
            <option value="Kanyakumari">Kanyakumari</option>
            <option value="Karur">Karur</option>
            <option value="Krishnagiri">Krishnagiri</option>
            <option value="Madurai">Madurai</option>
            <option value="Nagapattinam">Nagapattinam</option>
            <option value="Namakkal">Namakkal</option>
            <option value="Perambalur">Perambalur</option>
            <option value="Pudukkottai">Pudukkottai</option>
            <option value="Ramanathapuram">Ramanathapuram</option>
            <option value="Ranipet">Ranipet</option>
            <option value="Salem">Salem</option>
            <option value="Sivaganga">Sivaganga</option>
            <option value="Tenkasi">Tenkasi</option>
            <option value="Thanjavur">Thanjavur</option>
            <option value="Theni">Theni</option>
            <option value="Thoothukudi">Thoothukudi</option>
            <option value="Tiruchirappalli">Tiruchirappalli</option>
            <option value="Tirunelveli">Tirunelveli</option>
            <option value="Tirupathur">Tirupathur</option>
            <option value="Tiruppur">Tiruppur</option>
            <option value="Tiruvallur">Tiruvallur</option>
            <option value="Tiruvannamalai">Tiruvannamalai</option>
            <option value="Vellore">Vellore</option>
            <option value="Viluppuram">Viluppuram</option>
            <option value="Virudhunagar">Virudhunagar</option>
          </select>

          <label  for="time">Choose time</label>
          <select class="form-control" name="time" id="time">
            <option value="">--Please choose an time for next 12 hours--</option>

            <option value=0>Hour 1</option>
            <option value=1>Hour 2</option>
            <option value=2>Hour 3</option>
            <option value=3>Hour 4</option>
            <option value=4>Hour 5</option>
            <option value=5>Hour 6</option>
            <option value=6>Hour 7</option>
            <option value=7>Hour 8</option>
            <option value=8>Hour 9</option>
            <option value=9>Hour 10</option>
            <option value=10>Hour 11</option>
            <option value=11>Hour 12</option>
          </select>



          <button type="submit" class="btn btn-outline-light btn-lg items" name="button">submit</button>

        </form>

      </div>
    </section>
  </div>


<section id="map">
  <div class="live_map">
    <h2>Live Weather Map ⬇</h2>
    <iframe class="frame" width="500" height="450" src="https://embed.windy.com/embed2.html?lat=11.118&lon=76.969&detailLat=11.118&detailLon=76.969&width=650&height=450&zoom=5&level=surface&overlay=rain&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe>
  </div>
</section>

  <!-- Features -->

   <section id="features">
     <div class="row">
       <div class="feature-box col-lg-4">
         <a href="#predictform">
           <i class="icon fa fa-clock-o fa-4x" aria-hidden="true"></i>
           <h3>Instant Weather Prediction</h3>
           <p>Predict Your Weather at once using our service in no time.</p>
         </a>
       </div>

       <div class="feature-box col-lg-4">
         <a href="#map">
           <i class="icon fa fa-tachometer fa-4x" aria-hidden="true"></i>
           <h3>Live Radar Weather Map</h3>
           <p>Monitor the live across the globe using our satellite map.</p>
         </a>

       </div>

       <div class="feature-box col-lg-4">
         <a href="/subscribe"><i class="icon fa fa-envelope fa-4x" aria-hidden="true"></i>
           <h3>Subscribe to get weather Alerts. </h3>
         <p>Subscribe to our service to get weather alerts to your phone.</p>
       </a>


       </div>
     </div>



   </section>

  <div class="footer">
    <h5>developed by <strong> <em>Pugalarasan</em> </strong> </h5>
    <p>Contact me</p>
    <a href="https://www.linkedin.com/in/pugalarasan-m-91a82b205/"><i class="fa-brands  fa-linkedin footer-icons"></i></a>
    <i class="fa-brands fa-square-facebook footer-icons"></i>
    <i class="fa-brands fa-instagram footer-icons"></i>
    <i class="fa-solid fa-temperature-sun"></i>
  </div>
  <script src="app.js" charset="utf-8"></script>
</body>

</html>
